div(class='devnav-container')
  if(user)
    div(class='devnav-user') #{user.username}
  else
    div(class='devnav-user')


  div(class='devnav-links')
    a(href='/') home
    a(href='/message') message
    a(href='/membership') become a member
    a(href='/register') register
    a(href='/login') login
    a(href='/logout') log-out