extends layout


block content

  if(user)
    div
      p welcome back #{user.username}

  form(action="" method='post' class='sign-in-form' autocomplete='off')
    label(for="username") username
    input(type="text" name='username')
    label(for="password") password
    input(type="password" name='password')
    button(type='submit') log in

  a(href='/register')
    button not registered?