extends layout


block content


  form(action="" method='post' class='sign-in-form' autocomplete='off')
    label(for="username") username
    input(type="text" name='username' value='m')
    label(for="password") password
    input(type="password" name='password' value='123456')
    button(type='submit') log in

  if(error)
    div #{error}

  a(href='/register')
    button not registered?