extends layout

block content
  form(action="" method='post' class='sign-up-form')
    label(for="username") username
    input(type="text" name='username')
    label(for="password") password
    input(type="text" name='password')
    label(for="confirm-pass") confirm password
    input(type='text' name='confirm-pass')