@import url('./sign-up.css');
@import url('./sign-in.css');
@import url('./devnav.css');
@import url('./message-form.css');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
